
    <div class="row" [formGroup]="formGroup">
        <div class="col-12 mb-3">
            <label for="requestType" class="form-label">Resort Document as</label>
            <select class="form-select" id="resortDocument" aria-label="Select request type"   formControlName="resortDocument">
                <option value="" selected>-- select --</option>
                <option value="1">Type One</option>
                <option value="2">Type Two</option>
                <option value="3">Type Three</option>
            </select>
        </div>
        <div class="col-12 button-style">
            <button type="button" class="btn btn-secondary">Close</button>
            <button type="button" class="btn btn-danger">Resort</button>
           
        </div>
    </div>
