
    <div class="row" [formGroup]="formGroup">
        <div class="col-12 mb-3">
            <label for="requestType" class="form-label">Resort Document as</label>
            <select class="form-select" id="resortDocument" aria-label="Select request type"   formControlName="resortDocument">
                <option value="" selected>-- select --</option>
                <option *ngFor="let unit of resortList" [value]="unit">
                    {{unit}}
                </option>
                
            </select>
        </div>
        <div class="col-12 button-style">
            <button type="button" class="btn btn-secondary">Close</button>
            <button type="button" class="btn btn-danger">Resort</button>
           
        </div>
    </div>
