<div class="container mt-2">
   
      <div class="row">
      <div class="form-group mr-4 col-4">
        <label for="asFrom" class="mr-2">As From</label>
        <input type="date" id="asFrom" class="form-control" placeholder="dd/mm/yyyy" formControlName="asForm">
      </div>

      <!-- Last Payment Date -->
      <div class="form-group mr-4 col-4">
        <label for="lastPayment" class="mr-2">Last payment Date</label>
        <input type="date" id="lastPayment" class="form-control" placeholder="dd/mm/yyyy" formControlName="lastPayment">
      </div>

      <!-- Until Further Notice -->
      <div class="form-check col-4 mt-4">
        <input type="checkbox" id="untilFurtherNotice" class="form-check-input" formControlName="untilFurtherNotice">
        <label for="untilFurtherNotice" class="form-check-label">Until further notice</label>
      </div>
    </div>

  </div>