<form action="">
    <h6>Remitter</h6>
    <div class="row">
        <div class="col-6 mb-3">
            <h6><label for="requestType" class="form-label">Debit Account Number*</label></h6>
            <input type="text" class="form-control" id="accountNumber" placeholder="account number">
        </div>

        <div class="col-6 mb-3">
            <h6><label for="requestType" class="form-label">Debit Account Title</label></h6>
            <input type="text" class="form-control" id="accountNumber" placeholder="account title">
        </div>

        <div class="col-12 mb-3">
            <h6><label for="requestType" class="form-label">Customer Details</label></h6>
            <input type="text" class="form-control" id="accountNumber" placeholder="account title">
        </div>

        <div class="col-12 mb-3">
            <div class="row">
                <div class="col-9">
                    <label for="requestType" class="form-label">Send STO to cancel:</label>
                    <select class="form-select" id="requestType" aria-label="Select request type">
                        <option value="" selected>-- select --</option>
                        <option value="1">Type One</option>
                        <option value="2">Type Two</option>
                        <option value="3">Type Three</option>
                    </select>
                </div>
                <div class="col-3  btn-mar">
                    <button type="button" class="btn btn-secondary">View STO</button>
                </div>

            </div>

        </div>
    </div>
</form>