.btn-mar{
    margin-top: 30px;
}
.signature-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-verify img{
    width: 80px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}