<div>
  <form  [formGroup]="fieldsRepairForm" (ngSubmit)="onSubmit()">
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item mb-3"  *ngIf="instructionVisisble">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne">
            <h6><b>Instruction </b> <span> -</span> <span style="color:#969292"> Document Details</span></h6>
            
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
          aria-labelledby="panelsStayOpen-headingOne">
          <div class="accordion-body">

           <app-document-details [formGroup]="documentForm" (requestTypeChange)="onRequestTypeChange($event)"></app-document-details>
          </div>
        </div>
      </div>

      <div class="accordion-item mb-3" *ngIf="resortVisible">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseTwo">
            <h6><b>Resort</b> <span> - </span><span style="color:#969292"> Reclassify Document</span></h6>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingTwo">
          <div class="accordion-body">
            <app-resort [formGroup]="resortForm"></app-resort>
          </div>
        </div>
      </div> 

      <div class="accordion-item mb-3"  *ngIf="amendmentsVisible">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseThree">
            <h6>Amendments</h6>
           
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingThree">
          <div class="accordion-body">
            <app-cancellation [formGroup]="amendmentForm"></app-cancellation>
          </div>
        </div>
      </div>

      <div class="accordion-item mb-3" *ngIf="beneficiaryVisible" >
        <h2 class="accordion-header" id="panelsStayOpen-headingFour" >
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseFour">
            <h6><b>Beneficiary</b> <span style="color:#969292"> Credit Account Details</span></h6>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingFour">
          <div class="accordion-body">
            <app-beneficiary [formGroup]="beneficiaryForm"></app-beneficiary>
          </div>
        </div>
      </div>

      <div class="accordion-item mb-3" *ngIf="frequencyVisible" >
        <h2 class="accordion-header" id="panelsStayOpen-headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseFive">
         <h6>  <b>Frequency</b>  - <span style="color:#969292"> Occurrences</span></h6>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-collapseFive">
          <div class="accordion-body">
            <app-frequency  [formGroup]="frequencyForm"></app-frequency>
          </div>
        </div>
      </div>


      <div class="accordion-item mb-3"  *ngIf="periodVisible">
        <h2 class="accordion-header" id="panelsStayOpen-headingSix">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseSix">
            <h6><b>Preiod</b> <span style="color:#969292"> From/To</span></h6>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingSix">
          <div class="accordion-body">
           <app-period [formGroup]="periodForm"></app-period>
          </div>
        </div>
      </div>



      <div class="accordion-item mb-1"  *ngIf="routingDecisionVisible">
        <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
          <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseSeven">
            <h6> <b class="ml-2">Routing decision</b> <span style="color:#969292"> Discrepancies</span></h6>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingSeven">
          <div class="accordion-body">
            <app-routin-decision [formGroup]="routingForm"></app-routin-decision>
          </div>
        </div>
      </div>

      <!-- <div class="accordion-item mb-1"  *ngIf="supportingDocumentVisible">
        <h2 class="accordion-header" id="panelsStayOpen-headingEight">
          <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseEight">
            <h6> <b class="ml-2">Supporting Document</b> <span style="color:#969292"> Upload</span></h6>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingEight">
          <div class="accordion-body">
           Under Contruction 
          </div>
        </div>
      </div> -->
    </div>
    <div class="footer-style">
      <button type="button" class="btn btn-secondary">Back</button>
      <button type="button" class="btn btn-secondary">Discrepancies</button>
      <button type="submit" class="btn btn-danger">Submit</button>

    </div>

  </form>
</div>