<div class="row">
    <div class="col-6">
        <label for="requestType" class="form-label">Debit account number </label>
        <p>000044556677</p>
    </div>
    <div class="col-6">
        <label for="requestType" class="form-label">Debit account title </label>
        <p>Ms. Eila Fitz</p>
    </div>

    <div class="col-6">
        <label for="requestType" class="form-label">Currency </label>
        <p>MUR</p>
    </div>

    <div class="col-6">
        <label for="requestType" class="form-label">Amount</label>
        <p>2000.00</p>
    </div>
    <div class="col-6">
        <label for="requestType" class="form-label">Standing Order Number</label>
        <p>2</p>
    </div>

    <div class="col-6">
        <label for="requestType" class="form-label">Frequency</label>
        <p>Monthly on Day 1</p>
    </div>

    <div class="col-6">
        <label for="requestType" class="form-label">Start date</label>
        <p>20240801</p>
    </div>
    <div class="col-6">
        <label for="requestType" class="form-label">End Date</label>
        <p>2</p>
    </div>

    <div class="col-6">
        <label for="requestType" class="form-label">Beneficiary account number</label>
        <p>000044889900</p>
    </div>

    <div class="col-6">
        <label for="requestType" class="form-label">Beneficiary account title</label>
        <p>Ms. Eila FItz</p>
    </div>

    <div class="col-6">
        <label for="requestType" class="form-label">Beneficiary bank</label>
        <p>The Mauritius Commercial Bank Ltd</p>
    </div>
    <div class="col-6">
        <label for="requestType" class="form-label">Payment details</label>
        <p>2998</p>
    </div>
</div>