<div class="container "  [formGroup]="formGroup">
  
        <div class="frequency-option">
            <input type="radio" id="weekly" name="frequency" value="week" formControlName="weekly" >
            <label for="weekly" class="form-check-label">Week(s)</label>

            <input type="radio" id="monthly" name="frequency" value="month" formControlName="monthly">
            <label for="monthly" class="form-check-label">Month(s)</label>
        </div>

        <div class="mb-2">
            <span class="form-text">Option 1, Every:</span>
        </div>

        <div class="select-container mb-3">
            <select class="form-select"  formControlName="optionWeekly">
                <option selected>--select--</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>


        <div class="selection-container row">
        <div class="col-4">
            <label for="onTheSelect" class="form-label">On the:</label>
            <select id="onTheSelect" class="form-select" formControlName="onTheSelect">
                <option selected>last</option>
                <option value="1">first</option>
                <option value="2">second</option>
                <option value="3">third</option>
            </select>
        </div>

        <div class="col-4">
            <label for="orDateInput" class="form-label">Or date:</label>
            <input type="text" id="dateInput" class="form-control date-input" placeholder="" formControlName="dateInput">
        </div>

        <div class="col-4">
            <label for="ofeverySelect" class="form-label">Of every:</label>
            <select id="ofeverySelect" class="form-select" formControlName="ofeverySelect">
                <option selected>-</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
</div>

</div>