<div class="container" [formGroup]="formGroup">
    <!-- Radio Buttons -->
    <div class="frequency-option">
      <input
        type="radio"
        id="weekly"
        [value]="'week'"
        formControlName="frequencyType"
        name="frequencyType"
      />
      <label for="weekly" class="form-check-label">Week(s)</label>
  
      <input
        type="radio"
        id="monthly"
        [value]="'month'"
        formControlName="frequencyType"
        name="frequencyType"
      />
      <label for="monthly" class="form-check-label">Month(s)</label>
    </div>
  
    <!-- Select Dropdown for Weekly Options -->
    <div class="select-container mb-3">
      <select class="form-select" formControlName="optionWeekly">
        <option value="" selected>--select--</option>
        <option *ngFor="let unit of weeklyOptionList" [value]="unit">{{ unit }}</option>
      </select>
    </div>
  
    <!-- Additional Selects and Inputs -->
    <div class="selection-container row">
      <div class="col-4">
        <label for="onTheSelect" class="form-label">On the:</label>
        <select id="onTheSelect" class="form-select" formControlName="onTheSelect">
          <option *ngFor="let unit of onTheList" [value]="unit">{{ unit }}</option>
        </select>
      </div>
  
      <div class="col-4">
        <label for="orDateInput" class="form-label">Or date:</label>
        <input
          type="text"
          id="dateInput"
          class="form-control date-input"
          formControlName="dateInput"
        />
      </div>
  
      <div class="col-4">
        <label for="ofeverySelect" class="form-label">Of every:</label>
        <select id="ofeverySelect" class="form-select" formControlName="ofeverySelect">
          <option *ngFor="let unit of ofEveryList" [value]="unit">{{ unit }}</option>
        </select>
      </div>
    </div>
  </div>
  