<div class="row">
    <div class="col-12">
        <div class="signature-box">
            <div class="btn-verify ">
                <div  class="form-label">Retrieve Signature </div>
                <button type="button" class="btn btn-secondary">Verify Signature</button>
            </div>
            <div class="verified">
                <label for="requestType" class="form-label">Signature Verified</label>
                <select class="form-select" id="requestType" aria-label="Select request type">
                  <option value="" selected>-- --</option>
                  <option value="1"> One</option>
                  <option value="2"> Two</option>
                </select>
              </div>
        </div>
    </div>
</div>