<div class="row" [formGroup]="formGroup">
    <div class="col-4 mb-3">
      <label for="docReference" class="form-label">Doc. Reference</label>
      <input type="text" class="form-control" id="docReference"   formControlName="docReference">
    </div>
    <div class="col-4 mb-3">
      <label for="dcpRef" class="form-label">DCP. Ref</label>
      <input type="text" class="form-control" id="dcpRef"    formControlName="dcpRef">
    </div>
    <div class="col-4 mb-3">
      <label for="createdDate" class="form-label">Created</label>
      <input type="text" class="form-control" id="createdDate"    formControlName="createdDate">
    </div>
    <div class="col-12 mb-3">
      <label for="businessUnit" class="form-label">Business Unit</label>
      <select
      class="form-select"
      id="businessUnit"
      aria-label="Select business unit"
      formControlName="businessUnit"
    >
      <option value="" selected>Choose a business unit</option>
      <option *ngFor="let unit of businessUnitList" [value]="unit">
        {{ unit }}
      </option>
    </select>
    </div>
    <div class="col-6 mb-3">
      <label for="priority" class="form-label">Priority</label>
      <select class="form-select" id="priority" aria-label="Select priority"   formControlName="priority">
        <option value="" selected>Choose priority level</option>
        <option *ngFor="let unit of priorityList" [value]="unit">
          {{ unit }}
        </option>
      </select>
    </div>
    <div class="col-6 mb-3">
      <label for="requestType" class="form-label">Request Type</label>
      <select class="form-select" id="requestType" aria-label="Select request type"   formControlName="requestType">
        <option value="" selected>-- select --</option>
        <option *ngFor="let unit of requestTypeList" [value]="unit">
          {{ unit }}
        </option>
      </select>
    </div>
  </div>
